@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

h1 {
    font-family: 'Rubik Doodle Shadow', sans-serif;
    font-weight: 400;
}
  